<mat-card class="widget-card">
  <mat-card-header>
    <div mat-card-avatar class="item-icon calendar-icon"></div>
    <mat-card-title *ngIf="activeCalendar">{{activeCalendar.summary}}</mat-card-title>
    <mat-card-title *ngIf="!activeCalendar">Календар не обрано</mat-card-title>
    <mat-card-subtitle>Календар Google</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button *ngIf="activeCalendar" routerLink="/calendars" mat-raised-button color="primary">Змінити змінити</button>
    <button *ngIf="!activeCalendar" routerLink="/calendars" mat-raised-button color="primary">Вибрати календар</button>
  </mat-card-actions>
</mat-card>
