<mat-card class="widget-card">
  <mat-card-header>
    <div mat-card-avatar class="file-icon"></div>
<!--    <mat-card-title *ngIf="activeFile">{{activeFile.name}}</mat-card-title>-->
<!--    <mat-card-title *ngIf="!activeFile">Файл не обрано</mat-card-title>-->
    <mat-card-subtitle>Календар Google</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
<!--    <button *ngIf="activeFile" routerLink="/select-file" mat-raised-button color="primary">Змінити файл</button>-->
<!--    <button *ngIf="!activeFile" routerLink="/select-file" mat-raised-button color="primary">Вибрати файл</button>-->
    <button  routerLink="/calendars" mat-raised-button color="primary">Вибрати календар</button>
  </mat-card-actions>
</mat-card>
