<div class="sidenav-title">
  Lessons App
  <mat-divider></mat-divider>
</div>
<mat-nav-list class="sidenav-menu">
  <mat-list-item>
    <mat-icon mat-list-icon>event_note</mat-icon>
    <a matLine routerLink="/calendars">Календар</a>
    <div mat-line>список доступних календарів</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>grid_on</mat-icon>
    <a matLine routerLink="/files">Таблиця</a>
    <div mat-line>список доступних таблиць</div>
  </mat-list-item>
</mat-nav-list>
<mat-nav-list class="sidenav-footer">
  <mat-divider></mat-divider>
  <div mat-subheader>Налаштування</div>
  <mat-list-item>
    <mat-icon mat-list-icon>person</mat-icon>
    <a matLine routerLink="/">Профіль</a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>settings</mat-icon>
    <a matLine routerLink="/">Загальні</a>
  </mat-list-item>
</mat-nav-list>
