<div class="sidenav-title">
  <mat-icon class="sidenav-logo" color="primary">pages</mat-icon>
  <div>Lessons App</div>
</div>
<mat-nav-list class="sidenav-menu">
  <ng-container *ngFor="let item of menuItems.mainMenu">
    <mat-list-item
      routerLink="/{{item.route}}"
      routerLinkActive="active"
      [class.disabled]="(isSpreadsheetEnabled$|async) && item.title==='Експортувати'">
      <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
      <a matLine>{{item.title}}</a>
      <i mat-line *ngIf="item?.description">{{item.description}}</i>
    </mat-list-item>
  </ng-container>
</mat-nav-list>
<mat-nav-list class="sidenav-footer">
  <mat-divider></mat-divider>
  <div mat-subheader>Налаштування</div>
  <ng-container *ngFor="let item of menuItems.footerMenu">
    <mat-list-item
      routerLink="/{{item.route}}"
      routerLinkActive="active">
      <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
      <a matLine >{{item.title}}</a>
      <i mat-line *ngIf="item?.description">{{item.description}}</i>
    </mat-list-item>
  </ng-container>
</mat-nav-list>
