:host(.active) {
  .item-card {
    background-color: #69F0AE;
  }
}
:host(.file-item) {
  .item-icon {background-image: url('../../../../assets/web-google-sheets-icon.png');}
}
:host(.calendar-item) {
  .item-icon {background-image: url('../../../../assets/web-google-calendar-icon.png');}
}

.item-card {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .mat-card-header {
    align-items: center;
    overflow: hidden;
    .item-icon {
      background-size: cover;
    }
    mat-card-title {
      padding-bottom: 0;
      margin-bottom: 0;
      @media (max-width: 480px) {
        font-size: 1rem;
      }
    }
  }
  button {
    background-color: unset;
    border: none;
  }
  .mat-card-header, button:hover {
    cursor: pointer;
  }
}
