<h4 class="message-title">Exporting...</h4>
<div class="message-body">
  <mat-spinner class="message-spinner" diameter="32"></mat-spinner>
  <div class="message-content">
    <ng-container *ngIf="message$|async as message">
      <div>
        <span>Експортовано:</span>
        <span class="total">{{message.exportSuccess.total}}</span>
      </div>
      <div>
        <span class="event-title">{{message.exportSuccess.lastEvent}}</span>
      </div>
      <div *ngIf="message.exportFail.total>0">
        <span>Помилка:</span>
        <span class="total">{{message.exportFail.total}}</span>
      </div>
      <div>
        <span class="event-title">{{message.exportFail.lastEvent}}</span>
      </div>
    </ng-container>
  </div>
</div>
