.avatar {
  min-width: 36px;
  min-height: 36px;
  width: 100%;
  height: 100%;
  background-size: contain;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
  }
}
