mat-card.user-card {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 600px;
  .row {
    display: flex;
    min-height: 96px;
    .stats {
      align-self: center;
      p {
        text-align: left;
        font-size: 1rem;
      }
      span {font-weight: bold}
    }
    app-avatar {
      margin: 10px 20px;
      max-width: 96px;
      height: 96px;
      min-width: 96px;
    }
  }
  p {text-align: center;}
  .logout-button {
    margin: 0 auto;
  }
}
