<ng-container *ngIf="activeUser$|async as user">
  <mat-card class="user-card">
    <mat-card-header>
      <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
      <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <app-avatar [avatar]="user.avatar"></app-avatar>
        <div class="stats" *ngIf="userStats$|async as stats">
          <p>Останній візит: <span>{{stats.lastVisit?.toDate()| date:'dd.MM.yyyy'}}</span></p>
          <p>Останній календар: <span>{{stats?.lastCalendar}}</span></p>
        </div>
      </div>
    </mat-card-content>
    <button class="logout-button" mat-raised-button color="primary" (click)="logout()">Вийти</button>
    <ng-container *ngIf="userStats$|async as stats">
        <p>Статистика експорту подій</p>
        <table mat-table [dataSource]="stats.activity" class="mat-elevation-z8">
          <ng-container matColumnDef="calendar">
            <th mat-header-cell *matHeaderCellDef> Календар </th>
            <td mat-cell *matCellDef="let element"> {{element.calendar}} </td>
          </ng-container>

          <ng-container matColumnDef="exportSuccess">
            <th mat-header-cell *matHeaderCellDef> Усіпшно </th>
            <td mat-cell *matCellDef="let element"> {{element.exportSuccess}} </td>
          </ng-container>

          <ng-container matColumnDef="exportFail">
            <th mat-header-cell *matHeaderCellDef> Помилок </th>
            <td mat-cell *matCellDef="let element"> {{element.exportFail}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['calendar', 'exportSuccess', 'exportFail'];sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: ['calendar', 'exportSuccess', 'exportFail'];"></tr>
        </table>
      </ng-container>
  </mat-card>
</ng-container>
