mat-card.user-card {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 600px;

  mat-card-content {
    display: flex;
    min-height: 96px;
    app-avatar {
      margin: 10px 20px;
      max-width: 96px;
      height: 96px;
      min-width: 96px;
    }
  }
  mat-card-actions {
    text-align: right;
  }
}
