<h2>Інструкція</h2>
<mat-accordion>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>Для чого?</strong>
      </mat-panel-title>
      <mat-panel-description>
        опис
      </mat-panel-description>
    </mat-expansion-panel-header>
      Метою даної web-аплікації є спрощення процесу створення подій у Google Календарі для викладачів.
      Функціонал додатку дає змогу користувачу експортувати записи календарного планування занять
      з електронної таблиці Google до календаря у вигляді подій та добавити користувачів (учнів, студентів)
      для спільного перегляду. Це дасть змогу учням мати розклад занять з предмету та завдань до них під рукою
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>Як?</strong>
      </mat-panel-title>
      <mat-panel-description>
        інструкція
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      Процес експорту передбачає декілька простих кроків, найважливіший з яких підготовка електронної таблиці Google
      з календарним плануванням. Електронна таблиця має відповідати шаблону
        (<a href="https://docs.google.com/spreadsheets/d/1nwCS1MSx_oDNcUsAiYi4DM5ib_SHe-isUd655MHYX_g/edit?usp=sharing" download>Завантажити шаблон</a>)
      <li>
        Налаштуйте розклад та тривалість занять відповідно до розкладу навчального закладу
        <strong>(Меню -> Налаштування:Загальні)</strong>
      </li>
      <li>
        Оберіть календар в який будуть експортовані події
        <strong>(Меню -> Календар)</strong></li>
      <li>
        Оберіть підготовлену попередньо підготовлену таблицю з плануванням
        <strong>(Меню -> Таблиці)</strong>
      </li>
      <li>Переїдіть в розділ експортування, де при бажанні вкажіть кольори для подій та додайте
        електронну адресу групи одержувачів <strong>(Меню -> Експорт)</strong>
      </li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>Додатково</strong>
      </mat-panel-title>
      <mat-panel-description>
        додатково
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <li>Якщо аркушу електронної таблиці надати колір, то цей колір отримаються експортовані події з цього аркуша</li>
      <li>Очистити календар від подій можна в розділі <strong>Календар</strong></li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
