<ng-container *ngIf="settings$|async as settings; else loading">
  <ng-container *ngIf="form$|async as form">
  <form [formGroup]="form" (submit)="onSubmit(form)">
    <mat-form-field class="lessons-duration">
      <mat-label>Тривалість уроків</mat-label>
      <input matInput formControlName="lessonDuration" type="number" placeholder="тривалість заняття">
      <mat-error *ngIf="form.controls.lessonDuration.hasError('min')">
        Заняття надто коротке
      </mat-error>
      <mat-error *ngIf="form.controls.lessonDuration.hasError('max')">
        Заняття надто довге
      </mat-error>
    </mat-form-field>
    <h3>Розклад дзвінків</h3>
    <div formArrayName="lessonsStartSchedule" #a class="lessons-start-hours">
      <div *ngFor="let lessons of form.controls.lessonsStartSchedule['controls']; let i = index" class="lesson-item">
        <div>Урок{{i}}</div>
        <mat-form-field>
          <mat-label>Початок уроку</mat-label>
          <input matInput [formControlName]="i" type="time">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Закінчення уроку</mat-label>
          <input matInput disabled [value]="lessons.value|lessonEnd:form.value['lessonDuration']:form" type="time">
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button color="primary" [disabled]="!form.valid || !form.dirty">Зберегти</button>
  </form>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="wait-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
