<ng-container *ngIf="calendarsData$|async as calendarsData; else loading">
  <app-list-item *ngFor="let calendarItem of calendarsData.calendarsList"
                 (itemAction)="eventHandler($event)"
                 [listItem]="calendarItem"
                 [actions]="calendarActions"
                 [ngClass]="{'active': calendarsData.activeCalendar.id===calendarItem.id, 'calendar-item': true}">
  </app-list-item>
</ng-container>
<ng-template #loading>
  <div class="wait-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
