<ng-container *ngIf="spreadSheetData$|async as spreadSheetData; else loading">
  <mat-tab-group [formGroup]="form">
    <mat-tab *ngFor="let tab of spreadSheetData; let i = index">
      <ng-template mat-tab-label>
        <ng-container *ngIf="classesData.controls.length>0">
          <mat-icon *ngIf="!classesData.controls[i].valid"
                    class="error-icon">warning</mat-icon>
        </ng-container>
        {{tab.title}}
      </ng-template>
      <app-lessons-tab
        [form]="form"
        [tabIndex] = "i"
        (tabCreated)="addClassToForm(tab)"
        (attendersChanged)="changeAttendersForClass($event, i, tab)"
        [lessons]="tab.lessons"></app-lessons-tab>
    </mat-tab>
  </mat-tab-group>
  <button [disabled]="!form.valid"
          (click)="exportToCalendar()">
    Експортувати
  </button>
</ng-container>

<ng-template #loading>
  loading data...
</ng-template>
