<ng-container *ngIf="spreadSheetData$|async as spreadSheetData; else loading">
  <mat-tab-group>
    <mat-tab *ngFor="let tab of spreadSheetData">
      <ng-template mat-tab-label>{{tab.title}}</ng-template>
      <app-lessons-tab [lessons]="tab.lessons"></app-lessons-tab>
    </mat-tab>
  </mat-tab-group>
  <button (click)="exportToCalendar(spreadSheetData)">Export to Calendar</button>
</ng-container>

<ng-container *ngIf="exportStatus$|async as exportStatus">
  export data {{exportStatus | json}}
</ng-container>

<ng-template #loading>
  loading data...
</ng-template>
