:host {
  padding: 20px;
  .widget-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    app-feature-widget {
      flex: 1;
      padding: 20px;
    }
  }
  button {
    display: block;
    margin: 0 auto;
  }
}
