@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.item-icon {
  &.file-icon {
    background-image: url('./assets/web-google-sheets-icon.png');
  }
  &.calendar-icon {
    background-image: url('./assets/web-google-calendar-icon.png');
  }
  background-size: cover;
}
