@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.file-icon {
  background-image: url('./assets/web-google-sheets-icon.png');
  background-size: cover;
}
