:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  min-width: 240px;
  .sidenav-title {
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    .sidenav-logo {
      height: 64px;
      width: 64px;
      font-size: 3rem;
    }
  }
  .sidenav-menu {
    flex: 1;
    overflow: hidden;
  }
  .sidenav-footer {
    padding-bottom: 64px;
  }
}
